<div class="nav-back"></div>
<div class="container my-5 p-5 z-depth-1">
  <section class="dark-grey-text">
    <h2 class="text-center font-weight-bold mb-4 pb-2">Why is it so great?</h2>
    <p class="text-center lead grey-text mx-auto mb-5">Find out why so many customers choose us over the competition.</p>
    <div class="row">
      <div *ngFor="let wisg of this.dyn.listWISG">
        <div class="col-md-8">
          <div class="row">
            <div class="col-lg-2 col-md-3 col-2">
              <i class="fas fa-{{wisg[1].icon}} {{wisg[1].iconcolor}}-text fa-2x"></i>
            </div>
            <div class="col-lg-10 col-md-9 col-10">
              <h4 class="font-weight-bold">{{wisg[1].title}}</h4>
              <p class="grey-text">{{wisg[1].text}}</p>
            </div>
          </div>
        </div>
        <br>
      </div>
      </div>>
  </section>
</div>
<br>
<div class="container my-5">
  <section>
    <h6 class="font-weight-normal text-uppercase font-small grey-text mb-4 text-center">FAQ</h6>
    <h3 class="font-weight-bold black-text mb-4 pb-2 text-center">Frequently Asked Questions</h3>
    <hr class="w-header">
    <p class="lead text-muted mx-auto mt-4 pt-2 mb-5 text-center">Got a question? We've got answers. If you have some other questions, see our support center.</p>
		<div class="row">
      <div *ngFor="let faq of this.dyn.listFAQ">
        <div class="col-md-6 col-lg-4 mb-4">
          <h5 class="font-weight-normal mb-3">{{faq[1].question}}</h5>
          <p class="text-muted">{{faq[1].answer}}</p>
        </div>
    </div>
    </div>
	</section>
</div>