<br><br><br>
<div class="container my-5 p-5 z-depth-1">


  <!--Section: Content-->
  <section class="dark-grey-text">

    <!-- Section heading -->
    <h2 class="text-center font-weight-bold mb-4 pb-2">Why is it so great?</h2>
    <!-- Section description -->
    <p class="text-center lead grey-text mx-auto mb-5">Find out why so many customers choose us over the competition.</p>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-5">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-2 col-md-3 col-2">
            <i class="fas fa-bullhorn blue-text fa-2x"></i>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-10 col-md-9 col-10">
            <h4 class="font-weight-bold">Quality</h4>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-5">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-2 col-md-3 col-2">
            <i class="fas fa-cogs pink-text fa-2x"></i>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-10 col-md-9 col-10">
            <h4 class="font-weight-bold">Reliability</h4>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              <br><br>
              <a class="btn btn-pink btn-sm" href="#testimonials">See Our Testimonials</a>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-2 col-md-3 col-2">
            <i class="fas fa-tachometer-alt purple-text fa-2x"></i>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-10 col-md-9 col-10">
            <h4 class="font-weight-bold">Support</h4>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->


</div>
<br>
<div class="container my-5">


    <!--Section: Content-->
    <section>
  
      <h6 class="font-weight-normal text-uppercase font-small grey-text mb-4 text-center">FAQ</h6>
      <!-- Section heading -->
      <h3 class="font-weight-bold black-text mb-4 pb-2 text-center">Frequently Asked Questions</h3>
      <hr class="w-header">
      <!-- Section description -->
      <p class="lead text-muted mx-auto mt-4 pt-2 mb-5 text-center">Got a question? We've got answers. If you have some other questions, see our support center.</p>
  
          <div class="row">
        <div class="col-md-12 col-lg-10 mx-auto mb-5">
        
          <!--Accordion wrapper-->
          <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
  
            <!-- Accordion card -->
            <div class="card border-top border-bottom-0 border-left border-right border-light">
  
              <!-- Card header -->
              <div class="card-header border-bottom border-light" role="tab" id="headingOne1">
                <a data-toggle="collapse" data-parent="#accordionEx" aria-expanded="true"
                  aria-controls="collapseOne1">
                  <h5 class="black-text font-weight-normal mb-0">
                    Question 1 <mdb-icon fas icon="question"></mdb-icon>
                  </h5>
                </a>
              </div>
  
              <!-- Card body -->
              <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                data-parent="#accordionEx">
                <div class="card-body">
                  Absolutely! We work with top payment companies which guarantees your safety and security. All billing information is stored on our payment processing partner which has the most stringent level of certification available in the payments industry.
                </div>
              </div>
  
            </div>
            <!-- Accordion card -->
            <!-- Accordion card -->
            <div class="card border-top border-bottom-0 border-left border-right border-light">
  
                <!-- Card header -->
                <div class="card-header border-bottom border-light" role="tab" id="headingOne1">
                  <a data-toggle="collapse" data-parent="#accordionEx" aria-expanded="true"
                    aria-controls="collapseOne1">
                    <h5 class="black-text font-weight-normal mb-0">
                        Question 2 <mdb-icon fas icon="question"></mdb-icon>
                    </h5>
                  </a>
                </div>
    
                <!-- Card body -->
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                  data-parent="#accordionEx">
                  <div class="card-body">
                    Absolutely! We work with top payment companies which guarantees your safety and security. All billing information is stored on our payment processing partner which has the most stringent level of certification available in the payments industry.
                  </div>
                </div>
    
              </div>
              <!-- Accordion card -->
            <!-- Accordion card -->
            <div class="card border-top border-bottom-0 border-left border-right border-light">
  
                <!-- Card header -->
                <div class="card-header border-bottom border-light" role="tab" id="headingOne1">
                  <a data-toggle="collapse" data-parent="#accordionEx" aria-expanded="true"
                    aria-controls="collapseOne1">
                    <h5 class="black-text font-weight-normal mb-0">
                        Question 3 <mdb-icon fas icon="question"></mdb-icon>
                    </h5>
                  </a>
                </div>
    
                <!-- Card body -->
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                  data-parent="#accordionEx">
                  <div class="card-body">
                    Absolutely! We work with top payment companies which guarantees your safety and security. All billing information is stored on our payment processing partner which has the most stringent level of certification available in the payments industry.
                  </div>
                </div>
    
              </div>
              <!-- Accordion card -->
            <!-- Accordion card -->
            <div class="card border-top border-bottom-0 border-left border-right border-light">
  
                <!-- Card header -->
                <div class="card-header border-bottom border-light" role="tab" id="headingOne1">
                  <a data-toggle="collapse" data-parent="#accordionEx" aria-expanded="true"
                    aria-controls="collapseOne1">
                    <h5 class="black-text font-weight-normal mb-0">
                        Question 4 <mdb-icon fas icon="question"></mdb-icon>
                    </h5>
                  </a>
                </div>
    
                <!-- Card body -->
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                  data-parent="#accordionEx">
                  <div class="card-body">
                    Absolutely! We work with top payment companies which guarantees your safety and security. All billing information is stored on our payment processing partner which has the most stringent level of certification available in the payments industry.
                  </div>
                </div>
    
              </div>
              <!-- Accordion card -->
            <!-- Accordion card -->
            <div class="card border-top border-bottom-0 border-left border-right border-light">
  
                <!-- Card header -->
                <div class="card-header border-bottom border-light" role="tab" id="headingOne1">
                  <a data-toggle="collapse" data-parent="#accordionEx" aria-expanded="true"
                    aria-controls="collapseOne1">
                    <h5 class="black-text font-weight-normal mb-0">
                        Question 4 <mdb-icon fas icon="question"></mdb-icon>
                    </h5>
                  </a>
                </div>
    
                <!-- Card body -->
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                  data-parent="#accordionEx">
                  <div class="card-body">
                    Absolutely! We work with top payment companies which guarantees your safety and security. All billing information is stored on our payment processing partner which has the most stringent level of certification available in the payments industry.
                  </div>
                </div>
    
              </div>
              <!-- Accordion card -->
            <!-- Accordion card -->
            <div class="card border-top border-bottom-0 border-left border-right border-light">
  
                <!-- Card header -->
                <div class="card-header border-bottom border-light" role="tab" id="headingOne1">
                  <a data-toggle="collapse" data-parent="#accordionEx" aria-expanded="true"
                    aria-controls="collapseOne1">
                    <h5 class="black-text font-weight-normal mb-0">
                        Question 5 <mdb-icon fas icon="question"></mdb-icon>
                    </h5>
                  </a>
                </div>
    
                <!-- Card body -->
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                  data-parent="#accordionEx">
                  <div class="card-body">
                    Absolutely! We work with top payment companies which guarantees your safety and security. All billing information is stored on our payment processing partner which has the most stringent level of certification available in the payments industry.
                  </div>
                </div>
    
              </div>
              <!-- Accordion card -->

  

  
          </div>
          <!-- Accordion wrapper -->
          
        </div>
      </div>
  
      </section>
    
    
  </div>