<nav>
  <header class="site-navbar" role="banner">

    <div class="container">
      <div class="row align-items-center">
        
        <div class="col-11 col-xl-2">
          
          <h1 class="mb-0 site-logo"><a routerLink="" class="text-white mb-0"><strong>Kingo </strong>News</a></h1><br> 
          <form #sform="ngForm" class="input-group">
            <div class="form-outline border border-light border-top-0">
              <input #search title="Write Query" id="search-focus" type="search" id="form1" class="form-control text-light" (keydown)="this.submitevent($event, search.value)"/>
              <label class="form-label text-light" for="form1">Search</label>
            </div>
          </form>
        </div>
        <div class="col-12 col-md-10 d-none d-xl-block">
          <nav class="site-navigation position-relative text-right" role="navigation">
            <div *ngIf="this.guard.isLogged; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <div *ngIf="this.admin.Admin; then adminBlock else userBlock"></div>
              <ng-template #userBlock>
                <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                  <li class="has-children">
                    <a routerLink=""><span>Home<mdb-icon fas icon="angle-double-down"></mdb-icon></span></a>
                    <ul class="dropdown arrow-top">
                      <li><a href="#about">About</a></li>
                      <li><a href="#testimonials">Testimonials</a></li>
                      <li><a href="#pricing">Pricing</a></li>
                      <li><a href="#history">History</a></li>
                      <li><a href="#team">Team</a></li>
                      <li><a href="#clients">Sponsors</a></li>
                    </ul>
                  </li>
                    <li class="has-children">
                      <a routerLink="trending"><span>Trending News<mdb-icon fas icon="angle-double-down"></mdb-icon></span></a>
                      <ul class="dropdown arrow-top">
                        <li><a class="disabled bg-primary text-light">Categories</a></li>
                        <li><a routerLink="tech">Tech</a></li>
                        <li><a routerLink="business">Business</a></li>
                        <li><a routerLink="entertainment">Entertainment</a></li>
                        <li><a routerLink="health">Health</a></li>
                        <li><a routerLink="science">Science</a></li>
                        <li><a routerLink="sports">Sports</a></li>
                      </ul>
                    </li>
                  <li><a routerLink="contact"><span>Contact Us</span></a></li>
                  <li><a routerLink="faq"><span>FAQ</span></a></li>
                  <li class="has-children">
                    <a routerLink=""><span>Account<mdb-icon fas icon="angle-double-down"></mdb-icon></span></a>
                    <ul class="dropdown arrow-top">
                      <li><a routerLink="manage">Manage Account</a></li>
                      <li><a (click)="this.auth.signout()">Logout</a></li>
                    </ul>
                  </li>
                  <br>
                </ul>
              </ng-template>
              <ng-template #adminBlock>
                <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                  <li class="has-children">
                    <a routerLink=""><span>Home<mdb-icon fas icon="angle-double-down"></mdb-icon></span></a>
                    <ul class="dropdown arrow-top">
                      <li><a href="#about">About</a></li>
                      <li><a href="#testimonials">Testimonials</a></li>
                      <li><a href="#pricing">Pricing</a></li>
                      <li><a href="#history">History</a></li>
                      <li><a href="#team">Team</a></li>
                      <li><a href="#clients">Sponsors</a></li>
                    </ul>
                  </li>
                    <li class="has-children">
                      <a routerLink="trending"><span>Trending News<mdb-icon fas icon="angle-double-down"></mdb-icon></span></a>
                      <ul class="dropdown arrow-top">
                        <li><a class="disabled bg-primary text-light">Categories</a></li>
                        <li><a routerLink="tech">Tech</a></li>
                        <li><a routerLink="business">Business</a></li>
                        <li><a routerLink="entertainment">Entertainment</a></li>
                        <li><a routerLink="health">Health</a></li>
                        <li><a routerLink="science">Science</a></li>
                        <li><a routerLink="sports">Sports</a></li>
                      </ul>
                    </li>
                  <li><a routerLink="contact"><span>Contact Us</span></a></li>
                  <li><a routerLink="faq"><span>FAQ</span></a></li>
                  <li class="has-children">
                    <a routerLink=""><span>Account<mdb-icon fas icon="angle-double-down"></mdb-icon></span></a>
                    <ul class="dropdown arrow-top">
                      <li><a routerLink="manage">Manage Account</a></li>
                      <li><a routerLink="admin">Admin Panel</a></li>
                      <li><a (click)="this.auth.signout()">Logout</a></li>
                    </ul>
                  </li>
                  <br>
                </ul>
              </ng-template>
            </ng-template>
            <ng-template #elseBlock> 
              <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                <li class="has-children">
                  <a routerLink=""><span>Home<mdb-icon fas icon="angle-double-down"></mdb-icon></span></a>
                  <ul class="dropdown arrow-top">
                    <li><a href="#about">About</a></li>
                    <li><a href="#testimonials">Testimonials</a></li>
                    <li><a href="#pricing">Pricing</a></li>
                    <li><a href="#history">History</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#clients">Sponsors</a></li>
                  </ul>
                  <li class="has-children">
                    <a routerLink="trending"><span>Trending News<mdb-icon fas icon="angle-double-down"></mdb-icon></span></a>
                    <ul class="dropdown arrow-top">
                      <li><a class="disabled bg-primary text-light">Categories</a></li>
                      <li><a routerLink="tech">Tech</a></li>
                      <li><a routerLink="business">Business</a></li>
                      <li><a routerLink="entertainment">Entertainment</a></li>
                      <li><a routerLink="health">Health</a></li>
                      <li><a routerLink="science">Science</a></li>
                      <li><a routerLink="sports">Sports</a></li>
                    </ul>
                <li><a routerLink="contact"><span>Contact Us</span></a></li>
                <li><a routerLink="faq"><span>FAQ</span></a></li>
                <li><a (click)="this.auth.googleSignIn()"><span><mdb-icon fab icon="google"></mdb-icon> - Signup</span></a></li>
                <li><a (click)="this.auth.googleLogIn()"><span><mdb-icon fab icon="google"></mdb-icon> - Login</span></a></li>
              </ul>
            </ng-template>
          </nav>
        </div>


        <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3 ppv"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

        </div>

      </div>
  </header>

</nav>

