<div class="nav-back">
  </div>
    <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img    title="." 
                        class="rounded-circle mt-5" 
                        src={{this.auth.loadUserphoto()}} 
                        width="90">
                <span class="font-weight-bold">{{this.auth.loadUserfullname()}}</span>
                <span class="text-black-50">{{this.auth.loadUseremail()}}</span>
                <span>- Created at: {{this.auth.loadUserSignedIn()}} -</span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h6 class="text-right">Edit your profile</h6>
                </div>
                <form #UserForm="ngForm" (ngSubmit)="this.auth.modifyUser(UserForm.value)">
                <div class="row mt-2">
                    
                    <div class="col-md-12">
                        <label class="labels">Full Name</label>
                        <input ngModel type="text" id="fullname" name="fullname" class="form-control" placeholder="Full Name" value={{this.auth.loadUserfullname()}}/>
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Phone Number</label>
                        <input ngModel type="text" id="phone" name="phone" class="form-control" placeholder="Phone Number" value={{this.auth.loadUserphone()}}/>
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Email</label>
                        <input title="." type="email" id="email" name="email" class="form-control disabled" value={{this.auth.loadUseremail()}}>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><input ngModel type="text" class="form-control" id="country" name="country" placeholder="Country" value={{this.auth.loadUsercountry()}}/></div>
                    <div class="col-md-6"><label class="labels">City/State</label><input ngModel type="text" class="form-control" id="city" name="city" placeholder="City / State" value={{this.auth.loadUsercity()}}/></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary " type="submit">Save Profile</button></div>
                <div class="mt-5 text-center"><button class="btn btn-danger delete-button" type="button"   (click)="deleteme()">Delete Account</button></div>
            </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Linked Accounts</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Click to link</span></div>
                <div class="d-flex flex-row mt-3 exp-container"><img title="." src="https://i.imgur.com/azSfBM3.png" width="45" height="45">
                    <div class="work-experience ml-1"><span class="font-weight-bold d-block"><mdb-icon fas icon="x" class="text-danger"></mdb-icon></span><span class="d-block text-black-50 labels"><a>Click to link</a></span><span class="d-block text-black-50 labels"></span></div>
                </div>
                <hr>
                <div class="d-flex flex-row mt-3 exp-container"><img title="." src="https://img.icons8.com/color/100/000000/facebook.png" width="45" height="45">
                    <div class="work-experience ml-1"><span class="font-weight-bold d-block"><mdb-icon fas icon="x" class="text-danger"></mdb-icon></span><span class="d-block text-black-50 labels"><a>Click to link</a></span><span class="d-block text-black-50 labels"></span></div>
                </div>
                <hr>
                <div class="d-flex flex-row mt-3 exp-container"><img title="." src="https://img.icons8.com/color/50/000000/google-logo.png" width="45" height="45">
                    <div class="work-experience ml-1"><span class="font-weight-bold d-block">{{this.auth.loadUseremail()}} <mdb-icon fas icon="check" class="text-success"></mdb-icon></span><span class="d-block text-black-50 labels"><a>Click to unlink</a></span><span class="d-block text-black-50 labels"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
