.bg-image{
    background-image: url('../../assets/Crowd-of-journalists.png');
        height: 1000px;
}

.mask{
    background-color: rgba(0, 0, 0, 0.6);
}

.dvr{
    margin-right: 20px !important;
}