    <!-- Background image -->
    <div class="p-5 text-center bg-image">
        <div class="mask">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
              <h1 class="mb-3">Kingo News</h1>
              <h4 class="mb-3">- Your source for accurate fresh news -</h4>
              <a class="btn btn-outline-light btn-lg" routerLink="trending" role="button">See Headlines</a>
              <a class="btn btn-outline-light btn-lg" href="#pricing" role="button">See Pricing</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Background image --> 

