<div class="nav-back">
</div>
  <div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
      <div class="col-md-3 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img title="." class="rounded-circle mt-5" src={{this.currentUser.photo}} width="90"><span class="font-weight-bold">{{this.currentUser.fullname}}</span><span class="text-black-50">{{this.currentUser.email}}</span><span>- Created at: {{this.currentUser.SignedIn}} -</span></div>
          <div class="mt-5 text-center"><button class="btn btn-warning" >Edit User Data</button></div>
      </div>
      <div class="col-md-5 ">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                  <h6 class="text-right">Viewing profile</h6>
              </div>
              <form [formGroup]="editGroup" (ngSubmit)="this.modifyUser(editGroup.value)">
                <div class="row mt-2">
                  <div class="col-md-12">
                    <label class="labels">Full Name</label
                    ><input
                      formControlName="fullname"
                      type="text"
                      id="fullnameview"
                      name="fullname"
                      class="form-control"
                      placeholder="Full Name"
                    />
                  </div>
                  <div class="col-md-12">
                    <label class="labels">Phone Number</label
                    ><input
                      formControlName="phone"
                      type="text"
                      id="phone"
                      name="phone"
                      class="form-control"
                      placeholder="Phone Number"
                      [value]="this.currentUser.phone"
                    />
                  </div>
                  <div class="col-md-12">
                    <label class="labels">Email</label
                    ><input
                      formControlName="email"
                      type="email"
                      id="email"
                      name="email"
                      class="form-control disabled"
                      placeholder="email"
                      [value]="this.currentUser.email"
                    />
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-6">
                    <label class="labels">Country</label
                    ><input
                      formControlName="country"
                      type="text"
                      class="form-control"
                      id="country"
                      name="country"
                      placeholder="Country"
                      [value]="this.currentUser.country"
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="labels">City/State</label
                    ><input
                      type="city"
                      class="form-control"
                      id="city"
                      name="city"
                      placeholder="City / State"
                      [value]="this.currentUser.city"
                    />
                  </div>
                </div>
                <div class="mt-5 text-center">
                  <button class="btn btn-primary" type="submit">Submit Changes</button>
                </div>
                <div class="mt-5 text-center">
                  <button
                    class="btn btn-danger delete-button"
                    type="button"
                    (click)="this.deleteme()"
                  >
                    Delete Account
                  </button>
                </div>
              </form>
          </div>
      </div>
  </div>
</div>
