 <br><br><br><br>
  <nav class="navbar navbar-light bg-light shadow-lg">
     <div class="container-fluid">
       <span class="navbar-brand mb-0 h1" id="headlines-anchor">All Entertainment News</span>
     </div>
   </nav>
   <div class="container-fuild mt-5 headlines">
       <div class="row">
           <div class="col-lg-3 mt-3 mb-3" 
           *ngFor="let news of entertainementNewsResult">
             <a [routerLink]="['/business',news.title,news.urlToImage,news.content,news.description,news.publishedAt,news.url]" target="_blank" style="color:black">
                 <div class="card">
                   <img src={{news.urlToImage}} alt="" width="100%" height="300px" class="card-img-top">
                   <div class="card-body">
                       <h3 class="card-title">{{news.title}}</h3>
                       <span style="font-size: 10px;" class="card-title">Published at: {{news.publishedAt}}</span>
                       <br>
                   </div>
               </div>
             </a>
           </div>
       </div>
   </div>