<br><br><br><br>
<!-- Default form contact -->
<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <app-newsteller></app-newsteller>
  </div>
  <div class="col-lg-4"></div>
</div>


  <br><br><br><br><br><br>
  <p class="h4 mb-4 text-center">Visit us</p>
  <div class="mapouter"><div class="gmap_canvas"><iframe width="1000" height="600" id="gmap_canvas" src="https://maps.google.com/maps?q=La%20Grillardi%C3%A8re%20Sidi%20Maarouf&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net">fmovies</a><br><style>.mapouter{position:relative;text-align:right;height:600px;width:1000px;}</style><a href="https://www.embedgooglemap.net">google maps api html</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:600px;width:1000px; margin-left: 45%; border: 2px solid black;}</style></div></div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <!-- Default form contact -->

<!--   <script src="https://smtpjs.com/v3/smtp.js">
  </script>
  <script>
    SubmitForm(value)
    {
          Email.send({
          Host : 'smtp.elasticemail.com',
          Username : 'redabusiness10@gmail.com',
          Password : '89A98D77B1CECF41CD56AE6C18D7BCEFE1C0',
          To : value.email,
          From : 'redabusiness10@gmail.com',
          Subject : value.subject,
          Body : `
          <i>Text: ${value.text}</i>
          `
          }).then( message => {alert(`Message from ${value.email} to ${Username} sent!`);} );
    }


  </script> -->