<div class="container my-5">


    <!--Section: Content-->
    <section class="text-center dark-grey-text">
  
      <!-- Section heading -->
      <h3 class="font-weight-bold pb-2 mb-4">Our pricing plans</h3>
      <!-- Section description -->
      <p class="text-muted w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
        eum porro a pariatur veniam.</p>
        <p><strong>Unlimited Browsing</strong></p>
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-4">
  
          <!-- Card -->
          <div class="pricing-card card">
  
            <!-- Content -->
            <div class="card-body">
              <h5 class="font-weight-bold mt-3">Basic</h5>
  
              <!-- Price -->
              <div class="price pt-0">
                <h2 class="number red-text mb-0">Free</h2>
              </div>
  
              <ul class="striped mb-1">
                <li>
                  <p><strong>1 </strong>Comment / Article</p>
                </li>
                <li>
                  <p><strong>720P </strong>Live Articles</p>
                </li>
              </ul>
              <a class="btn btn-danger btn-rounded mb-4"> Buy now</a>
  
            </div>
            <!-- Content -->
  
          </div>
          <!-- Card -->
  
        </div>
        <!-- Grid column -->
  
        <!--  Grid column  -->
        <div class="col-lg-4 col-md-6 mb-4">
  
          <!-- Card -->
          <div class="card card-image pro-card">
  
            <!-- Pricing card -->
            <div class="text-white text-center pricing-card d-flex align-items-center rgba-indigo-strong py-3 px-3 rounded">
  
              <!-- Content -->
              <div class="card-body">
                <h5 class="font-weight-bold mt-2">Pro</h5>
  
                <!--Price -->
                <div class="price pt-0">
                  <h2 class="number mb-0">50DH/Month</h2>
                </div>
  
                <ul class="striped mb-0">
                      <li>
                        <p><strong>10 </strong>Comments / Article</p>
                      </li>
                      <li>
                        <p><strong>1080P </strong>Live Articles</p>
                      </li>
                </ul>
                <a class="btn btn-rounded btn-outline-white">BUY</a>
  
              </div>
              <!-- Content -->
  
            </div>
            <!-- Pricing card -->
  
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">
  
          <!-- Card -->
          <div class="pricing-card card">
  
            <!-- Content -->
            <div class="card-body">
              <h5 class="font-weight-bold mt-3">Enterprise</h5>
  
              <!-- Price -->
              <div class="price pt-0">
                <h2 class="number red-text mb-0">5000DH/Month</h2>
              </div>
  
              <ul class="striped mb-1">
                  <li>
                    <p><strong>Unlimited Comments</strong></p>
                  </li>
                  <li>
                    <p><strong>1080P </strong>Live Articles</p>
                  </li>
                  <li>
                    <p><strong>NEW </strong>Limited Access to our API</p>
                  </li>
              </ul>
              <a class="btn btn-danger btn-rounded mb-4">COMING SOON</a>
  
            </div>
            <!-- Content -->
  
          </div>
          <!-- Card -->
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </section>
    <!--Section: Content-->
  
  
  </div>