<section>
    <form class="text-center border border-light p-5">
      <p class="h4 mb-4">Subscribe</p>
      <p>Join our mailing list. We write rarely, but only the best content.</p>
      <input type="email" id="NTname" required class="form-control mb-4" placeholder="E-mail" >
      <button class="btn btn-info btn-block" type="button" onclick="alert(NTname.value+' Added to newsteller'); NTname.value=''">Sign in</button>
      <br>
      <a rel="noopener" href="https://formsubmit.co/el/juhige" target="_blank"><button title="contact" type="button" class="btn btn-warning btn-block">Send us a Message</button></a>
    </form>
  </section>